body {
    justify-content: center;
    text-align: center;
    background-color: #C5AC10;
}

header h1 {                                             
    font-family: 'Pokemon Solid', 'arial', sans-serif;
    font-size: 40px;
    background-color: #C5AC10;
}

header {
    display: flex;
    flex-direction: row;
    padding: 4rem;   
    margin: 0;
    justify-content: center;
}

#searchBox {                                        /* search box container */                                                    
    background-color: #F6E652;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
}

#pokemonName {
    padding: 2rem;
    margin: 1rem;
    font-size: 16px;
}

button {                                            /* button styles */
    background-color: #084152;
    color: white;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    padding: 16px 24px;
}

button :hover {
    background-color: white;
    color: #084152;
}

#name {
    font-size: 2rem;
}

#pokemon {                                          /* pokemon container */
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    font-weight: 600;
    background-color: #084152;
    border-radius: 15px;
}

#nameImg {                                          /* name of the pokemon, above the pokemon img */
    justify-content: center;    
    margin: 0;
}

img {
    margin-left: auto;
	margin-right: auto;
    width: 100%;
    height: auto;

}

#image {
    width: 300px;
    height: fit-content;

}

#pichu {
    width: 10%;
    height: auto;
    margin: 0;
}


#description {                                          /* description container, contains all pokemon stats */
    background-color: #084152 ;
    color: white;
    font-size: 1.5rem;

}

#descriptionHeader {
    display: none;
}

#abilities {                                            /* abilities styles */
    background-color: #084152 ;
    color: white;
    margin: 2rem;
    font-size: 1.5rem;

}

#abilitiesHeader {
    display: none;
}

#stats {                                                /* stats styles */
    background-color: #084152 ;
    color: white;
    font-size: 1.25rem;

}

#statsHeader {
    display: none;
}

footer {
    display: flex;
    margin-top: 6rem;
    border-top: #1A1A1A solid 2px;
}

#contactIcons {                                             /* contactIcons styles for the clickable link icons */
    display: flex;
    justify-content: center;
    width: 100%;
}

#contactIcons p {
    padding: 2rem;
}

#contactIcons img {
    height: 3.5rem;
    width: 3.5rem;
}
